
*.csproj

*.sln

UserSettings/Search.settings

UserSettings/EditorUserSettings.asset

UserSettings/

Temp/

Logs/

Library/

*.apk

obj/

.idea/

Assets/Resources/BillingMode.json

Assets/Resources/BillingMode.json.meta
